<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" 
  "http://www.w3.org/TR/html4/strict.dtd">
<html>
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Программа учета расходов</title>
 </head>
 <body background="images/rashod.jpg">

  <h1>Добро пожаловать!</h1>
  <p>Очень важно учитывать расходы и понимать, куда уходят деньги. Именно для этого и создана эта программа.</p>
  <p>Чтобы начать пользоваться программой, пожалуйста, авторизуйтесь</p>
  <form action="/authenter" method="POST" enctype="multipart/form-data">
	  <p><input type="text" name="newlogin" placeholder="Логин"></p>
	  <p><input type="password" name="newpassword" placeholder="Пароль"></p>
	  <p><input type="submit" value="Отправить"></p>
  </form>
  
  <a href="/registration">Регистрация</a>
  
  

 </body>
</html>