<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" 
  "http://www.w3.org/TR/html4/strict.dtd">
<html>
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Программа учета расходов</title>
 </head>
 <body background="images/rashod.jpg">
 <p>Форма регистрации</p>
 <p><h3><font color="red">Этот логин уже занят!!! Попобуйте другой!!!</font></h3></p>
 <form action="/auth" enctype="multipart/form-data" method="POST">
 <p><input type="text" name="newname" placeholder="Введите имя"></p>
 <p><input type="text" name="newsecondname" placeholder="Введите фамилию"></p>
 <p><input type="text" name="newlogin" placeholder="Введите логин"></p>
 <p><input type="password" name="newpassword" placeholder="Введите пароль"></p>
 <p><input type="submit" value="Отправить"></p>
 </form>

 
 </body>
</html>